/* * {
    box-sizing: border-box;
  } */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-main {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 20%;
}

.flex-item-table {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 80%;
}

.flex-item-other {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-other,
  .flex-item-main {
    flex: 100%;
  }
}
